.edu1 {
  margin-left: 1em;
  border-left: 6px solid;
  border-color: darkblue;
}

.edu2 {
  margin-top: 2em;
  margin-left: 1.7em;
  padding-left: 6px;
  border-left: 6px solid;
  border-color: blue;
}
.edu3 {
  margin-top: 2em;
  margin-left: 2.4em;
  padding-left: 6px;
  border-left: 6px solid;
  border-color: rgb(0, 153, 255);
}

/* University logos */
.logo {
  height: 120px;
  width: 135px;
}

.logo-exp {
  height: 150px;
  width: 180px;
}

/* Experience/Education bloc */
.block{
  margin-left: 0;
}

h1 {
  font-size: 2.1em !important;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.socials{
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: transparent;
  font-size: 40px;
  transition: .15s;
}
.socials:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .15s;
  transform: scale(.9);
  z-index: -1;
}

.socials:hover::before {
  transform: scale(1.5);
  box-shadow: 0 0 15px #ffee10;
}

.socials:hover {
  color: #ffee10;
  box-shadow: 0 0 20px #ffee10;
  text-shadow: 0 0 15px #ffee10;
}

/* For horizontal scroll */
.menu-item {
  padding: 0 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}


.scroll-menu-arrow {
  margin: 2px;
  cursor: pointer;
}

.zoom {
  padding: 6px;
  transition: transform .2s; /* Animation */
  width: 123px;
  margin: 0 auto;
  transform: translate(-4.2em);
}

.zoom:hover {
  transform: translate(-4.2em) scale(1.41); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.arrow-prev{
  margin-left:-24px;
}
.arrow-next{
  margin-right:-24px;
}